@model ProyectoPrograweb.Models.dbModels.NewsCategory

@{
    ViewData["Title"] = "Crear categoría";
}

@section Css{
    <link href="~/css/CrearCRUDS.css" rel="stylesheet"/>
    <link href="~/css/Login.css" rel="stylesheet" />
}



<div class="centralizado">
    <div class="centro">
        <h3>@ViewData["Title"]</h3>
        <form asp-action="Create">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdNewsCategory" class="control-label">ID</label>
                <input asp-for="IdNewsCategory" class="form-control"/>
                <span asp-validation-for="IdNewsCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsCategoryDescription" class="control-label">Descricpión</label>
                <input asp-for="NewsCategoryDescription" class="form-control" />
                <span asp-validation-for="NewsCategoryDescription" class="text-danger"></span>
            </div>
            <div class="form-group" id="btn">
                <div id="btn">
                    <a id="a" asp-action="Index"><i class="fa-solid fa-caret-left"></i> Regresar</a>
                </div>
                <input type="submit" value="Crear" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
