@model ProyectoPrograweb.Models.dbModels.NewsCategory

@section Css{
    <link href="~/css/AccessDenied.css" rel="stylesheet" />
    <link href="~/css/Tarjeta.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Eliminar categoría";
}

<div>
      <form asp-action="Delete">
    <div class="central">
        <div class="centro-eliminar">
            <div class="dentro">
                <h5 class="text-danger">@ViewData["Title"] <i class="fa-solid fa-trash"></i></h5>
                <hr />
                <div class="centro">
                    <div class="tarjeta">
                        <h5 class="titulo">@Html.DisplayFor(model => model.NewsCategoryDescription)</h5>
                        <div class="descripcion">
                            ID de categoría: @Html.DisplayFor(model => model.IdNewsCategory)
                        </div>
                    </div>
                </div>
                <hr />
                <p>¿Estás seguro que deseas eliminar la categoría "@Html.DisplayFor(model => model.NewsCategoryDescription)"?</p>


                <div class="form-group justify-content-between d-sm-inline-flex" id="btn">
                    <div id="btn">
                        <a id="a" asp-action="Index"><i class="fa-solid fa-caret-left"></i> Regresar</a>
                    </div>
                    <input type="submit" value="Eliminar" class="btn btn-danger" />

                </div>
            </div>
        </div>
    </div>

        <input type="hidden" asp-for="IdNewsCategory" />

    </form>
</div>