@model ProyectoPrograweb.Models.dbModels.NewsCategory

@{
    ViewData["Title"] = "Editar categoría";
}

@section Css{
    <link href="~/css/Editar.css" rel="stylesheet"/>
}

<div class="central">
<div class="centro">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNewsCategory" />
            <div class="form-group">
                <label asp-for="NewsCategoryDescription" class="control-label">Descripción</label>
                <input asp-for="NewsCategoryDescription" class="form-control" />
                <span asp-validation-for="NewsCategoryDescription" class="text-danger"></span>
            </div>
            <div class="form-group" id="btn">
                <div id="btn">
                    <a id="a" asp-action="Index"><i class="fa-solid fa-caret-left"></i> Regresar</a>
                </div>
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
