@page
@model IndexModel
@{
    ViewData["Title"] = "Editar perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@section Css{
    <link href="~/css/Editar.css" rel="stylesheet"/>
}


<partial name="_StatusMessage" for="StatusMessage" />
<div class="centro">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div>
        <form id="idForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input id="todo" asp-for="Input.UserImage" class="form-control" />
                <label asp-for="Input.UserImage" class="form-label">Imagen</label>
                <span asp-validation-for="Input.UserImage"></span>
            </div>
            <div class="form-floating">
                <input id="todo" asp-for="Email" class="form-control"/>
                <label asp-for="Email" class="form-label">Correo</label>
            </div>
            <div class="form-floating">
                <input id="todo" asp-for="Input.Nombre" class="form-control" />
                <label asp-for="Input.Nombre" class="form-label">Nombre(s)</label>
                <span asp-validation-for="Input.Nombre"></span>
            </div>
            <div class="form-floating">
                <input id="todo" asp-for="Input.Apellidos" class="form-control" />
                <label asp-for="Input.Apellidos" class="form-label">Apellido(s)</label>
                <span asp-validation-for="Input.Apellidos"></span>
            </div>
            <div class="form-floating">
                <input id="todo" asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label">Teléfono</label>
                <span asp-validation-for="Input.PhoneNumber"></span>
            </div>
            <div class="form-group" id="btn">
                <div id="btn">
                    <a id="a" asp-controller="Home" asp-action="NewsFeed"><i class="fa-solid fa-caret-left"></i> Regresar</a>
                </div>
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />

            </div>
        </form>
</div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
