@model ProyectoPrograweb.Models.dbModels.News

@{
    ViewData["Title"] = "Create";
}

<h2>Creando noticia</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewsTitle" class="control-label">Título de la noticia</label>
                <input asp-for="NewsTitle" class="form-control" />
                <span asp-validation-for="NewsTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsDescription" class="control-label">Agrega una descripción</label>
                <input asp-for="NewsDescription" class="form-control" />
                <span asp-validation-for="NewsDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsImage" class="control-label">Link de la imagen</label>
                <input asp-for="NewsImage" class="form-control" />
                <span asp-validation-for="NewsImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsCreationDate" class="control-label"></label>
                <input asp-for="NewsCreationDate" class="form-control" />
                <span asp-validation-for="NewsCreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <select asp-for="IdUser" class ="form-control" asp-items="ViewBag.IdUser"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdNewsCategory" class="control-label">Selecciona la categoría</label>
                <select asp-for="IdNewsCategory" class="form-control" asp-items="ViewBag.IdNewsCategory"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear noticia" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
