@model ProyectoPrograweb.Models.dbModels.Match

@{
    ViewData["Title"] = "Crear partido";
}

@section Css{
    <link href="~/css/CrearCRUDS.css" rel="stylesheet" />
    <link href="~/css/Login.css" rel="stylesheet" />

}


<div class="centralizado">
    <div class="centro">
        <h3>@ViewData["Title"]</h3>
        <form asp-action="Create">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MatchTitle" class="control-label">Título</label>
                <input asp-for="MatchTitle" class="form-control" />
                <span asp-validation-for="MatchTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchImage" class="control-label">Imagen</label>
                <input asp-for="MatchImage" class="form-control" />
                <span asp-validation-for="MatchImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchDescription" class="control-label">Descripción</label>
                <input asp-for="MatchDescription" class="form-control" />
                <span asp-validation-for="MatchDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNewsCategory" class="control-label">Selecciona categoría</label>
                <select asp-for="IdNewsCategory" class ="form-control" asp-items="ViewBag.IdNewsCategory"></select>
            </div>
            <div class="form-group" id="btn">
                <div id="btn">
                    <a id="a" asp-action="Index"><i class="fa-solid fa-caret-left"></i> Regresar</a>
                </div>
                <input type="submit" value="Crear" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
