@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

@section Css{
    <link href="~/css/AccessDenied.css" rel="stylesheet"/>
}

<header>
    <div class="central">
    <div class="centro-eliminar">
        <div class="dentro">
                <h4 class="text-danger">@ViewData["Title"] <i class="fa-solid fa-lock"></i></h4>
     <hr />
    <p>No tienes permiso de ingresar a esta vista. Necesitas ser Administrador.</p>
    <div class="boton">
                <a id="boton" asp-controller="Home" asp-action="NewsFeed">Volver a Inicio</a>
            </div>
          </div>
    </div>
    </div>
</header>
