@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar correo";
}

@section Css{
    <link href="~/css/AccessDenied.css" rel="stylesheet"/>
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
