@page
@model RegisterModel
@{
    ViewData["Title"] = "Crear una cuenta";
}

@section Css{
    <link href="~/css/Login.css" rel="stylesheet"/>
}

<div class="centralizado">
    <div class="centro">
        <h3>@ViewData["Title"]</h3>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label class="form-label" asp-for="Input.Email">Correo</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Nombre" class="form-control" aria-required="true" />
                <label class="form-label"  asp-for="Input.Nombre">Nombre(s)</label>
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Apellido" class="form-control" aria-required="true" />
                <label class="form-label"  asp-for="Input.Apellido">Apellido(s)</label>
                <span asp-validation-for="Input.Apellido" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label class="form-label"  asp-for="Input.Password">Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label class="form-label"  asp-for="Input.ConfirmPassword">Confirmar contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Crear cuenta</button>
        </form>
        <div class="tienes-cuenta">
            <p id ="tienes-cuenta">
                ¿Ya tienes una cuenta?
                <a asp-page="~/Identity/Account/Login">Iniciar sesión</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}