@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmar correo";
}

@section Css{
    <link href="~/css/AccessDenied.css" rel="stylesheet" />
}

<div>
        <div class="central">
      
            <div class="centro-eliminar">
                <div class="dentro">
                <h4>@ViewData["Title"]</h4>
                <hr />
                    <div class="centro">
                        <div class="tarjeta">
                   
                            <div>
                            <p>
                                Presiona en el botón para confirmar tu correo electrónico
                            </p>
                        </div>
                        <h4 class="correo-mostrado">
                            @Html.DisplayFor(model => model.Email)
                        </h4>                   
                        </div>
                    <hr />
                    <p class="seguro">¿Deseas confirmar el correo?</p>
                    <div class="align-content-end" id="btn">
                      
                        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Confirmar correo</a>

                    </div>
                </div>
            </div>
        </div>
</div>
