body {
    font-family: 'Noto Sans', sans-serif;
    color: #B8BBBF;
}

.form-floating, .form-control, .form-label {
    width: 100%;
    max-width: 318px;
    border: none;
    border-radius: 15px;
}
.form-control {
    width: 100%;
    max-width: 900px;
    background-color: #4E4F50;
    margin-left: 5px;
    height: 50px;
    width: 300px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #898989 inset !important;
}


.form-control:focus {
    background-color: #4E4F50;
    box-shadow: 2px #316ebd;
}

input#NewsDescription.form-control, input#NewsTitle.form-control, input#NewsImage.form-control, select#IdNewsCategory.form-control, select#IdUser.form-control{
    color: white;
}

input#MatchImage.form-control, input#MatchTitle.form-control, input#MatchDescription.form-control, input#IdNewsCategory.form-control, input#NewsCategoryDescription.form-control {
    color: white;
}


div.form-group {
    margin-bottom: 20px;
}

label.control-label{
    margin-bottom: 2px;
}


#btn {
    display: inline-block;
}

input.btn.btn-primary {
    margin-left: 160px;
    background-color: #316ebd;
    border: none;
    font-size: 15px;
}

    input.btn.btn-primary:hover {
        background-color: black;
        font-weight: bolder;
        color: white;
    }

#a {
    margin-left: 20px;
    text-decoration: none;
    color: #B8BBBF;
}

    #a:hover {
        color: #316ebd;
    }