body {
    font-family: 'Noto Sans', sans-serif;
}

.form-floating, .form-control, .form-label {
    width: 100%;
    max-width: 318px;
    border: none;
    border-radius: 15px;
}

.form-control {
    width: 100%;
    max-width: 900px;
    background-color: #4E4F50;
margin-left: 5px;
}

    .form-control:focus {
        background-color: #4E4F50;
        box-shadow: 2px #316ebd;
        ;
    }


    .centralizado{
        width: 100%;
        max-width: 1000px;
    }

.form-floating {
    margin-bottom: 15px;
    font-weight: lighter;
}

h3 {
    text-align: left;
    color: #B8BBBF;
    margin-bottom: 15px;
    margin-left: 5px;
    
}

hr{
  color: white; 
}

.form-label {
    color: white;
}

