body {
    font-family: 'Noto Sans', sans-serif;
}

.form-floating, .form-control, .form-label {
    width: 100%;
    max-width: 318px;
    border: none;
    border-radius: 15px;
}

div.centro {
    max-width: 400px;
    padding: 30px 35px 20px 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #242526;
}

div.centralizado{
    margin-right: 0;
    padding: 0;
    width: 100%;
    max-width: 5000px;
}

.form-control {
    width: 100%;
    max-width: 900px;
    background-color: #4E4F50;
margin-left: 5px;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #898989 inset !important;
}

button#login-submit.w-100.btn.btn-lg.btn-primary, button#registerSubmit.w-100.btn.btn-lg.btn-primary {
    background-color: #316ebd;
    font-size: 17px;
    border: none;
}

    button#login-submit.w-100.btn.btn-lg.btn-primary:hover, button#registerSubmit.w-100.btn.btn-lg.btn-primary:hover {
        font-weight: bolder;
        background-color: black;
    }

    .form-control:focus {
        background-color: #4E4F50;
        box-shadow: 2px #316ebd;
    }

    .tienes-cuenta{
        display: block;
        margin-top: 15px;
        margin-left: 40px;
    }

.tienes-cuenta1 {
    display: block;
    margin-top: 15px;
    margin-left: 60px;
}


    .centralizado{
        width: 100%;
        max-width: 1000px;
        margin-top: 20px;
    }

.form-floating {
    margin-bottom: 15px;
    font-weight: lighter;
}

h3 {
    color: #B8BBBF;
    font-size: 20px;
}

.checkbox{
    margin-left: 60px;

}

#mantener {
    color: #B8BBBF;
    font-size: 15px;
    display: inline-block;
}

#tienes-cuenta{
    color: #B8BBBF;
    font-size: 15px;
}

#forgot-password{
    margin-left: 100px;
    display: block;
    font-size: 15px;
    margin-top: 10px;
}

hr {
    color: white;
}

.form-label {
    color: white;
}

input#Input_Email.form-control.valid, input#Input_Apellido.form-control, input#Input_Password.form-control  {
    color: white;
}

input#Input_UserImage.form-control, input#Input_Nombre.form-control, input#Input_ConfirmPassword.form-control {
    color: white;
}


input#Input_Email.form-control.input-validation-error {
    color: #FB2F2F;
}




