.nav-link {
    color: #B8BBBF;
}

.nav-item{
    margin-right: 20px;
}

li.nav-link {
    background-color: red;
    border: none;
}

    li.nav-item:hover {
        background-color: #316ebd;
    }

@media(max-width: 580px) {
    ul.navbar-nav {
        width:100%;
        max-width: 100px;
        margin: 0;
        display: block;
    }
}
