html {
  font-size: 16px;
  
}
span.navbar-toggler-icon {
    color: #B8BBBF;
    font-size: 100%;
    padding: 5px;
}
    span.navbar-toggler-icon:hover {
        color: #316ebd;
        font-weight: bolder;
    }

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #18191A;
}

.header {
    background-color: #242526;
}

.nav-link {
    color: #B8BBBF;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
}

    .nav-link:hover {
        color: #316ebd;
        font-weight: bolder;
    }

footer {
    background-color: #242526;
    color: #B8BBBF;
}


ul.dropdown-menu.show {
    background-color: #242526;
    border-radius: 10px;
}

a.dropdown-item {
    color: #B8BBBF;
}

    a.dropdown-item:hover {
        background-color: #242526;
        color: #316ebd;
        font-weight: bolder;
    }

button#dropdownMenuButton1.btn.btn-primary.dropdown-toggle {
    background-color: #316ebd;
    border: none;
    margin-right: 10px;
    font-size: 14px;
}

    button#dropdownMenuButton1.btn.btn-primary.dropdown-toggle:hover, button#dropdownMenuButton1.btn.btn-primary.dropdown-toggle:focus {
        background-color: black;
    }